- var sections = {about: { href:'/about.html', label: '¿Quiénes somos?', section: 'about'}, history: { href:'/historia.html', label: 'Historia', section: 'history'}, results: {href: '/results.html', label: 'Resultados deportivos', section: 'results'}, media: {href: '/media.html', label: 'Galerías', section: 'media'}, contact: {href: '/contact.html', label: 'Contáctenos', section: contact}, clubs: {href: '/clubs.html', label: 'Clubes Afiliados', section: 'clubs'}}

- var currentSection = 'clubs'

nav.full
	each i in sections
		if i.section === currentSection
			a.current-area(href='#{i.href}') #{i.label}
		else
			a(href='#{i.href}') #{i.label} #{i.section}